<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Love Match</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=Ysabeau:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="starting-page">
      <div class="headings">
        <!-- <div id="main-title">Heartstrings helloooooo</div> -->
        <div class="maintitle">Heartstrings </div>
       
        <div class="sub-heading">where compatibility meets </div>
        <br />
        <br />
  
        <div class="self-improvement">
          <span style="--i: 1">s</span>
          <span style="--i: 2">e</span>
          <span style="--i: 3">l</span>
          <span style="--i: 4">f</span>
          <span style="--i: 5"> - </span>
          <span style="--i: 6">i</span>
          <span style="--i: 7">m</span>
          <span style="--i: 8">p</span>
          <span style="--i: 9">r</span>
          <span style="--i: 10">o</span>
          <span style="--i: 11">v</span>
          <span style="--i: 12">e</span>
          <span style="--i: 13">m</span>
          <span style="--i: 14">e</span>
          <span style="--i: 15">n</span>
          <span style="--i: 16">t</span>
        </div>
      </div>
      <div class="buttons">
        <a href="/login"><button id="myButton">Log in</button></a>
        <a href="/register"><button id="myButton">Sign Up!</button> </a>

        <!-- <div id="myForm" class="form-popup"> -->

      
        <a href="/home">
          <button id="myButton">
            Learn more...
          </button></a>
      </div>
    </div>
  </body>
</html>
