<html>

    <head>
        <script>
            setTimeout(function() {
                window.location.href = "/main/<%=message._id %>"
            }, 5000);   
        </script>
        <title>Heartstrings</title>
        <link rel="stylesheet" href="../profile.css" />
        <link rel="stylesheet" href="../style.css" />
        <script src="script.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Carlito&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/4737a162b6.js" crossorigin="anonymous"></script>
        </head>

    <body>
        <div class="animated-title">
            <div class="text-top">
              <div>
                <span>Congratulations!</span>
                <span>Lets find you your </span>
              </div>
            </div>
            <div class="text-bottom">
              <div>perfect match <i class="fa-sharp fa-solid fa-heart fa-flip" style="color: #5941a9;"></i></div>
            </div>
          </div>
        <!-- <div class="main-header">
            <div class="buttondiv">
                <button class="heartstrings">Heartstrings</button>
                <div class="buttons-align">
                    <button class="buttonnew">Quizzes</button>
                    <button class="buttonnew">Resources</button>
                    <button class="buttonnew">Profile</button>
                    <button class="buttonnew">About</button>
                </div>
            </div>
        </div>
        <hr> -->
        <!-- <div class="center1">
            <div class="typewriter1"> 
                Congratulations on completing your profile! 
            </div>
            <div class="fade1"> 
                <h3> Let's get you started with finding your perfect match </h3>
            </div>
            <div class='button1'><a href="http://localhost:6005/profile"><button class="myButton1">Complete my profile</button> </a></div>
        </div>
         -->
    </body>
</html>