<html>
  <head>
    <meta charset="UTF-8" />
    <title>Heartstrings</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../resources.css" />
    <!-- <link rel="stylesheet" href="../main.css" /> -->
    <script src="script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carlito&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body>
    <div class="main-header">
      <div class="buttondiv">
        <a href="/"><button class="heartstrings">Heartstrings</button></a>
        <div class="buttons-align">
          <a href="/register"><button class="buttonnew">Register</button> </a>
          <a href="/login"><button class="buttonnew">Login</button> </a>

          <a href="/home"><button class="buttonnew">About</button></a>
        </div>
      </div>
    </div>

    <div class="wrapper nine">
      <div>
        <h7 class="rotate">
          <span>R</span>
          <span>E</span>
          <span>S</span>
          <span>O</span>
          <span>U</span>
          <span>R</span>
          <span>C</span>
          <span>E</span>
          <span>S</span>
        </h7>
      </div>
    </div>
    <div class="resouces-body">
      <div class-="resources-title">
        <h4>
          Get access to our free resources to help you navigate the complex
          world of dating and relationships. Sign up today to get access to
          personalized resources and articles adjusted to your quiz results. Our
          platform is designed to help you find meaningful connections and
          lasting love, so why wait? Sign up today and start your journey
          towards a more fulfilling love life.
        </h4>
      </div>
      <div class="articles">
        <div class="article-1">
          <br />
          <h8>Why you need to learn the art of love </h8>
          <br />
          <br />

          The Art of Loving, written by the renowned psychologist and
          philosopher Erich Fromm, is a groundbreaking book that explores the
          intricacies of human relationships and the importance of love in our
          lives. In this article, we will explore the key insights from the book
          and why it is essential for everyone to learn the art of love.
          <br />
          <a href="/artofloving">
            <br />
            Read more...</a
          >
        </div>
        <div class="article-1">
          <br />
          <h8> What's the role of fantasy in love? </h8>
          <br />
          <br />
          Can Love Last? The Fate of Romance Over Time, written by psychoanalyst
          Steven Mitchell, explores the challenges that couples face as their
          relationships evolve over time. One of the key themes of the book is
          the role of fantasy and imagination in sustaining love and romance. In
          this article, we will delve into the insights from the book and the
          importance of fantasy and imagination in relationships.
          <a href="/canlovelast">
            <br />
            Read more...</a
          >
        </div>
        <div class="article-1">
          <br />
          <h8> Unveiling the Science of Attraction </h8>
          <br />
          <br />
          Attraction is a complex and multi-faceted process, shaped by a variety
          of factors including physical appearance, personality, and social
          context. In this article, we will explore some of the key insights
          from the chapter and examine the role of attraction in intimate
          relationships.
          <a href="/attraction"
            ><br />
            Read more...</a
          >
        </div>
        <div class="article-1">
          <br />
          <h8> Exploring Esther Perel's Beliefs on Eroticism </h8>
          <br />
          <br />
          Esther Perel is a psychotherapist and author who has gained widespread
          recognition for her insights on relationships, sexuality, and the
          intricacies of human connection. In this blog post, we'll explore some
          of Perel's key beliefs on eroticism and how they can help us build
          more satisfying and meaningful relationships.
          <a href="/eroticism">
            <br />
            Read more...</a
          >
        </div>
        <div class="article-1">
          <br />
          <h8>
            Exploring the Paradox of Choice: Insights from Dr. Barry
            Schwartz</h8
          >
          <br />
          <br />
          According to Dr. Barry Schwartz, author of "The Paradox of Choice: Why
          More is Less," our society's obsession with choice can actually be a
          source of stress and dissatisfaction. In this blog post, we'll explore
          Schwartz's insights on the paradox of choice and what it means for our
          daily lives.
          <a href="/choice">
            <br />
            Read more...</a
          >
        </div>
        <div class="article-1">
          <br />

          <h8>
            "Why You Will Marry the Wrong Person": Insights from Alain de
            Botton</h8
          >
          <br />
          <br />

          In his thought-provoking TED Talk "Why You Will Marry the Wrong
          Person," philosopher Alain de Botton challenges our assumptions about
          love and marriage. In this blog post, we'll explore de Botton's insights
          on why we're likely to marry the wrong person, and what we can do to
          cultivate more fulfilling relationships.
          <a href="/attraction"
            ><br />
            Read more...</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
